:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}

mat-drawer-container {
  height: 100%;
}
.mat-drawer-container{
position: static;;
}

mat-drawer {
  background: #0f172a;
}
